body {
    font-family: 'Roboto', sans-serif;
}

.card-title {
    position: absolute;
    top: 25%;
    left: 40%;
    transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
    color: rgb(255, 213, 0);
}
